---
---

body {
  margin: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-style: normal;
  line-height: initial;
}

blockquote {
  font-size: 20px;
  font-family: "IBM Plex Serif", serif;
  font-style: italic;
}

a {
  color: rgb(40, 40, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

.site-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.header h1 {
  font-weight: 500;
  color: white;
}

.header h1 a {
  color: white;
}

.header h1 a:link {
  color: white;
}

.header h1 a:visited {
  color: white;
}

.header h1 a:hover {
  color: white;
}

.header h1 a:active {
  color: white;
}

.site-logo {
  width: 70px;
  height: auto;
}

.navbar {
  font-weight: 500;
  font-style: normal;
}

.page-meta {
  color: grey;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.page-footer {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.button {
  font-weight: 500;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(40, 40, 255);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button:hover {
  background-color: rgb(0, 0, 255);
  color: #ffffff;
  text-decoration: none;
}

.footer {
  color: gray;
  font-size: 14px;
  font-weight: 300;
}

.footer-text-icon {
  height: 1em;
  vertical-align: middle;
}

.text-gray {
  color: grey;
}

.font-14px {
  font-size: 14px;
}

.eth-address {
  word-break: break-all;
}
